# command prefix (default is ! if value not provided)
PREFIX=
# discord bot related IDs
CTB_BOT_TOKEN=<your bot token>
CTB_ID=<your bot ID>
# server and channel IDs based on your discord server
DISCORD_SERVER_ID=<id of hosting discord server>
BOT_COMMAND_CHANNEL_IDS=<channel 1 ID where bot commands are allowed>,<channel 2 ID>,<channel 3 ID>
ENLIST_COMMAND_CHANNEL_ID=<channel ID where enroll command is allowed>
HALL_OF_FAME_CHANNEL_ID=<channel ID to show hall of fame>
HALL_OF_INFAMY_CHANNEL_ID=<channel ID to show hall of infamy>
# role IDs (different role IDs based on your discord server role settings)
BOUNTY_HUNTER_ROLE_ID=
GLORY_SEEKER_ROLE_ID=
NORTH_KNIGHT_ROLE_ID=
SOUTH_KNIGHT_ROLE_ID=
SOUTHLANDER_ROLE_ID=
NORTHLANDER_ROLE_ID=
HOST_COMMUNITY_ROLE_ID=
# NFT integration and image hosting API keys and URLs
BANNERS_CONTRACT_ADDRESS=
BANNERS_RESERVOIR_API_KEY=
BANNERS_IK_PUBLIC_KEY=
BANNERS_IK_PRIVATE_KEY=
BANNER_IK_ENDPOINT_URL=
ALCHEMY_ETHER_PROVIDER=